<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Health Analyzer</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://kit.fontawesome.com/5f3f547070.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/static/style.css">
  <link rel="stylesheet" href="/static/navbar.css">
  <link rel="stylesheet" href="/static/form.css">
  <link rel="stylesheet" href="/static/footer.css">
  <link rel="stylesheet" href="/static/flaticon.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Redressed&display=swap" rel="stylesheet">

</head>
<body>
    <header>
        <nav>
          <div class="menu-icon">
            <i class="fa fa-bars fa-2x"></i>
          </div>
          <div class="logo">
            <a href="/">We'll Scan</a>
          </div>
          <div class="menu">
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/diet">Diet Chart</a></li>
              <li><a href="/about">About Us</a></li>
              <li><a href="/contact">Contact Us</a></li>
              <li><a href="/login">Login</a></li>
            </ul>
          </div>
        </nav>
      </header>
      <div class="Centered">
        <h2 id="symptomChecker">The symptom checker made by doctors for <span id="targetWord">women</span></h2>
      </div>
      <script>
        document.addEventListener('DOMContentLoaded', function() {
          const targetWords = ['you', 'men', 'women', 'adults', 'parents', 'seniors']; // Words to cycle through
          const colors = ['#E12444']; // Corresponding colors for each word
          let currentIndex = 0; // Index to keep track of the current word
      
          // Function to update the word and color
          function updateWord() {
            const targetWord = document.getElementById('targetWord');
            targetWord.textContent = targetWords[currentIndex];
            targetWord.style.color = colors[currentIndex];
            currentIndex = (currentIndex + 1) % targetWords.length; // Increment index and loop back to 0 when reaching the end
          }
      
          // Update the word every 2 seconds
          setInterval(updateWord, 1000);
        });
      </script>
      <div class="mainhd">
        <h1>HEALTH CARE </h1>
      </div>
    <div class="wrap">
        <div class="box">
          <div class="box-top">
            <img class="box-image" src="/static/image/heart.jpg">
            <div class="title-flex">
              <h3 class="box-title">Heart Checkup</h3>
              <p class="user-follow-info">Heart</p>
            </div>
            <p class="description">A healthy heart thrives on exercise, a balanced diet low in saturated fats. Prioritize cardiovascular health for a longer, happier life.</p>
          </div>
          <a href="/heart" class="button">Checkup Now</a>
        </div>
        <div class="box">
          <div class="box-top">
            <img class="box-image" src="/static/image/kidney.jpg">
            <div class="title-flex">
              <h3 class="box-title">Kidney Checkup</h3>
              <p class="user-follow-info">Kidney</p>
            </div>
            <p class="description">Maintain kidney health through hydration all the day and follow, a diet low in sodium, and regular checkups for optimal function and well-being.</p>
          </div>
          <a href="/kidney" class="button">Checkup Now</a>
        </div>
        <div class="box">
          <div class="box-top">
            <img class="box-image1" src="/static/image/DiebetesCheckup.jpg">
            <div class="title-flex">
              <h3 class="box-title">Diabetes Checkup</h3>
              <p class="user-follow-info">Diebetes</p>
            </div>
            <p class="description">Regular diabetes checkups are vital for managing blood sugar levels. They involve monitoring glucose, blood pressure, and kidney function. </p>
          </div>
          <a href="/diebetes" class="button">Checkup Now</a>
        </div>
    </div>



<!--? About-2 Area Start -->
<div class="about-area2 section-padding40">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7 col-md-12">
                <!-- about-img -->
                <div class="about-img ">
                    <img src="/static/image/about.png" alt="">
                </div>
            </div>
            <div class="col-lg-5 col-md-12">
                <div class="about-caption">
                    <!-- Section Tittle -->
                    <div class="section-tittle mb-35">
                        <h2>Create a healthy 
                        life you love!</h2>
                    </div>
                    <p class="pera-top mb-40">Almost before we knew it, we had left the ground</p>
                    <p class="pera-bottom mb-30">Craft a life that nourishes your body, enriches your mind, and uplifts your spirit. Embrace wholesome habits, savor nutritious foods, and cultivate joy in every moment. A healthy life isn't just about the absence of illness; it's about thriving with vitality and purpose. Choose self-care over self-doubt, gratitude over grievances, and love over limitations.</p>
                    <div class="icon-about">
                     <img src="/static/image/about1.svg" alt="" class=" mr-20">
                     <img src="/static/image/about2.svg" alt="">
                 </div>
             </div>
         </div>
     </div>
 </div>
</div>
<!-- About-2 Area End -->
<section class="wantToWork-area section-bg3" >
    <div class="container">
        <div class="wants-wrapper w-padding2">
            <div class="row align-items-center justify-content-between">
                <div class="col-xl-7 col-lg-9 col-md-8">
                    <div class="wantToWork-caption wantToWork-caption2">
                        <h2>Happy mind <br>healthy life</h2>
                        <p>Almost before we knew it, we<br> had left the ground</p>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4">
                    <a href="#" class="button-89">Take a Service</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--? Services Area Start -->
<div class="service-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6" style="cursor: pointer;">
                <div class="single-cat text-center mb-50">
                    <div class="cat-icon">
                        <img src="/static/image/services1.svg" alt="">
                    </div>
                    <div class="cat-cap">
                        <h5>Physical Activity</h5>
                        <p style="color: black; font-weight: 400;">Engage in motion, embrace vitality. Physical activity is the heartbeat of wellness, the pulse of energy that propels us forward.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-63" style="cursor: pointer;">
                <div class="single-cat text-center mb-50">
                    <div class="cat-icon">
                        <img src="/static/image/services2.svg" alt="">
                    </div>
                    <div class="cat-cap">
                        <h5>Healthy Diet</h5>
                        <p style="color: black; font-weight: 400;">Nourish with intention, savor with gratitude. A healthy diet is the symphony of nutrients, orchestrating wellness from within.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6" style="cursor: pointer;">
                <div class="single-cat text-center mb-50">
                    <div class="cat-icon">
                        <img src="/static/image/services3.svg" alt="">
                    </div>
                    <div class="cat-cap">
                        <h5>Happy Lifestyle</h5>
                        <p style="color: black; font-weight: 400;">Radiate joy, cultivate contentment. A happy lifestyle is the canvas of positivity, painted with moments of laughter and echoes of fulfillment.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Services Area End -->
    </body>





<footer class="footer">
  <div class="container-footer">
   <div class="row">
     <div class="footer-col">
       <h4>Services</h4>
       <ul>
         <li><a href="/heart">Heart Checkup</a></li>
         <li><a href="/kidney">Kidney Checkup</a></li>
         <li><a href="/diebetes">Diebetes Checkup</a></li>
         <li><a href="#">Order Medecine</a></li>
         <li><a href="#">Find Nearest Collection Centre</a></li>
       </ul>
     </div>
     <div class="footer-col">
       <h4>Company</h4>
       <ul>
         <li><a href="/about">About Us</a></li>
         <li><a href="#">Careers</a></li>
         <li><a href="#">Partner with We'll Scan</a></li>
       </ul>
     </div>
     <div class="footer-col">
       <h4>Policy Info</h4>
       <ul>
         <li><a href="#">Privacy Policy</a></li>
         <li><a href="#">Terms and condition</a></li>
         <li><a href="#">Customer Support Policy</a></li>
         <li><a href="#">Return Policy</a></li>
       </ul>
     </div>
     <div class="footer-col">
      <h4>About Team</h4>
      <ul>
        <li><a href="/team">Team</a></li>
      </ul>
    </div>
     <div class="footer-col">
       <h4>follow us</h4>
       <div class="social-links">
         <a href="#"><i class="fab fa-facebook-f"></i></a>
         <a href="#"><i class="fab fa-twitter"></i></a>
         <a href="#"><i class="fab fa-instagram"></i></a>
         <a href="#"><i class="fab fa-linkedin-in"></i></a>
       </div>
     </div>
   </div>
  </div>
</footer>
<div class="text-center p-2" style="background-color: #ffff">
© 2024 Copyright @ We'll Scan.com
</div>
</html>

