<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/footer.css">
  <link rel="stylesheet" href="/static/navbar.css">
  <!-- Icon Font Stylesheet -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
    
  <title>Health Information Form</title>
  <style>
  body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: url(/static/image/indexbg.jpg);
}

h1 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

form {
  max-width: 62%;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 70px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 20px;
}

input[type="text"],
select {
  width: calc(100% - 22px);
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 2px solid #000000;
}

select {
  appearance: none;
}

button {
  width: 30%;
  padding: 10px 20px;
  font-size: 16px;
  background-color: yellow;
  color: black;
  font-weight: bold;
  font-size: 30px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  height: 60px;

}

button:hover {
  background-color: #e3d72f;
}

@media screen and (max-width: 600px) {
  form {
    width: 90%;
  }
}
.kidneyheading h1 {
  justify-content: center;
  align-items: center;
  padding-top: 45px;
  margin-left: 21%;
  font-family: "Anek Devanagari", sans-serif;
  font-weight: 800;
  margin-bottom: 28px;
}

.kidneyheading {
  background-color: rgb(252, 228, 55);
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 20px;
  margin-top: 20px;
  border-radius: 15px;
  padding: 3px;
}
nav ul li a {
  text-decoration: none;
  color : #007bff;
}
.text-center p{
  margin-left: 42%;
}

  </style>
</head>
<body>
  <header>
    <nav>
        <div class="menu-icon">
            <i class="fa fa-bars fa-2x"></i>
        </div>
        <div class="logo">
            <a href="/">We'll Scan</a>
        </div>
        <div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/diet">Diet Chart</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="/contact">Contact Us</a></li>
            </ul>
        </div>
    </nav>
</header>
<body>
  <h1 class="kidneyheading">Kidney Health Checkup Form</h1>
  <form action="kidneyresult" method="post">
    {% csrf_token %}
    <div class="form-group">
      <label for="age">Age (years):</label>
      <input type="text" id="age" name="age" required>
      <span class="range">Range: Depends on context</span>
    </div>

    <div class="form-group">
      <label for="blood-pressure">Blood Pressure (mmHg):</label>
      <input type="text" id="blood-pressure" name="blood-pressure" required>
      <span class="range">Range: Systolic: < 120, Diastolic: < 80</span>
    </div>

    <div class="form-group">
      <label for="specific-gravity">Specific Gravity:</label>
      <input type="text" id="specific-gravity" name="specific-gravity" required>
      <span class="range">Range: 1.005 - 1.030</span>
    </div>

    <div class="form-group">
      <label for="albumin">Albumin:</label>
      <select id="albumin" name="albumin" required>
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
      </select>
    </div>

    <div class="form-group">
      <label for="sugar">Sugar:</label>
      <select id="sugar" name="sugar" required>
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
      </select>
    </div>
    <div class="form-group">
      <label for="blood-glucose">Blood Glucose Random (mg/dL):</label>
      <input type="text" id="blood-glucose" name="blood-glucose" required>
      <span class="range">Range: Fasting: 70-100, Non-fasting: < 200</span>
    </div>
    <div class="form-group">
      <label for="blood-urea">Blood Urea (mg/dL):</label>
      <input type="text" id="blood-urea" name="blood-urea" required>
      <span class="range">Range: 7 - 20</span>
    </div>
    <div class="form-group">
      <label for="serum-creatinine">Serum Creatinine (mg/dL):</label>
      <input type="text" id="serum-creatinine" name="serum-creatinine" required>
      <span class="range">Range: Male: 0.6 - 1.2, Female: 0.5 - 1.1</span>
    </div>
    <div class="form-group">
      <label for="sodium">Sodium (mEq/L):</label>
      <input type="text" id="sodium" name="sodium" required>
      <span class="range">Range: 135 - 145</span>
    </div>
    <div class="form-group">
      <label for="potassium">Potassium (mEq/L):</label>
      <input type="text" id="potassium" name="potassium" required>
      <span class="range">Range: 3.5 - 5.0</span>
    </div>
    <div class="form-group">
      <label for="hemoglobin">Hemoglobin (g/dL):</label>
      <input type="text" id="hemoglobin" name="hemoglobin" required>
      <span class="range">Range: Male: 13.8 - 17.2, Female: 12.1 - 15.1</span>
    </div>
    <div class="form-group">
      <label for="packed-cell-volume">Packed Cell Volume:</label>
      <input type="text" id="packed-cell-volume" name="packed-cell-volume" required>
      <span class="range">Range: 36% - 50%</span>
    </div>
    <div class="form-group">
      <label for="white-blood-cells">White Blood Cells (cells/cmm):</label>
      <input type="text" id="white-blood-cells" name="white-blood-cells" required>
      <span class="range">Range: 4,500 - 11,000</span>
    </div>
    <div class="form-group">
      <label for="red-blood-cells">Red Blood Cells (millions/cmm):</label>
      <input type="text" id="red-blood-cells" name="red-blood-cells" required> 
      <span class="range">Range: Male: 4.5 - 6.0, Female: 4.0 - 5.5</span>
    </div>
    <div class="form-group">
      <label for="red-blood-cells-type">Red Blood Cells Type:</label>
      <!-- <h5 style="font-size: 15px;">0 = Normal</h5>
      <h5 style="font-size: 15px;">1 = Abnormal</h5> -->
      <select id="red-blood-cells-type" name="red-blood-cells-type" required>
        <option value="0">Normal</option>
        <option value="1">Abnormal</option>
      </select>
    </div>
    <div class="form-group">
      <label for="pus-cells">Pus Cells:</label>
      <!-- <h5 style="font-size: 15px;">0 = Normal</h5>
      <h5 style="font-size: 15px;">1 = Abnormal</h5> -->
      <select id="pus-cells" name="pus-cells" required>
        <option value="0">Normal</option>
        <option value="1">Abnormal</option>
      </select>
    </div>
    <div class="form-group">
      <label for="pus-cell-clumps">Pus Cell Clumps:</label>
      <!-- <h5 style="font-size: 15px;">0 = Absent</h5>
      <h5 style="font-size: 15px;">1 = Present</h5> -->
      <select id="pus-cell-clumps" name="pus-cell-clumps" required>
        <option value="0">Absent</option>
        <option value="1">Present</option>
      </select>
    </div>
    <div class="form-group">
      <label for="bacteria">Bacteria:</label>
      <!-- <h5 style="font-size: 15px;">0 = Absent</h5>
      <h5 style="font-size: 15px;">1 = Present</h5> -->
      <select id="bacteria" name="bacteria" required>
        <option value="0">Absent</option>
        <option value="1">Present</option>
      </select>
    </div>
    <div class="form-group">
      <label for="hypertension">Hypertension:</label>
      <!-- <h5 style="font-size: 15px;">0 = No</h5>
      <h5 style="font-size: 15px;">1 = Yes</h5> -->
      <select id="hypertension" name="hypertension" required>
        <option value="0">No</option>
        <option value="1">Yes</option>
      </select>
    </div>
    <div class="form-group">
      <label for="diabetes">Diabetes Mellitus:</label>
      <!-- <h5 style="font-size: 15px;">0 = No</h5>
      <h5 style="font-size: 15px;">1 = Yes</h5> -->
      <select id="diabetes" name="diabetes" required>
        <option value="0">No</option>
        <option value="1">Yes</option>
      </select>
    </div>
    <div class="form-group">
      <label for="coronary-artery-disease">Coronary Artery Disease:</label>
      <!-- <h5 style="font-size: 15px;">0 = No</h5>
      <h5 style="font-size: 15px;">1 = Yes</h5> -->
      <select id="coronary-artery-disease" name="coronary-artery-disease" required>
        <option value="0">No</option>
        <option value="1">Yes</option>
      </select>
    </div>
    <div class="form-group">
      <label for="appetite">Appetite:</label>
      <!-- <h5 style="font-size: 15px;">0 = Unhealthy</h5>
      <h5 style="font-size: 15px;">1 = Healthy</h5> -->
      <select id="appetite" name="appetite" required>
        <option value="0">Unhealthy</option>
        <option value="1">Healthy</option>
      </select>

    </div>
    <div class="form-group">
      <label for="pedal-edema">Pedal Edema:</label>
      <!-- <h5 style="font-size: 15px;">0 = Absent</h5>
      <h5 style="font-size: 15px;">1 = Present</h5> -->
      <select id="pedal-edema" name="pedal-edema" required>
        <option value="0">Absent</option>
        <option value="1">Present</option>
      </select>
    </div>
    <div class="form-group">
      <label for="anemia">Anemia:</label>
      <!-- <h5 style="font-size: 15px;">0 = Absent</h5>
      <h5 style="font-size: 15px;">1 = Present</h5> -->
      <select id="anemia" name="anemia" required>
        <option value="0">Absent</option>
        <option value="1">Present</option>
      </select>
    </div>


    <div class="form-group">
      <a href="/kidneyresult">
        <button type="submit">Submit</button>
      </a>
    </div>
  </form>
</body>


<footer class="footer">
  <div class="container-footer">
   <div class="row">
     <div class="footer-col">
       <h4>Services</h4>
       <ul>
         <li><a href="/heart">Heart Checkup</a></li>
         <li><a href="/kidney">Kidney Checkup</a></li>
         <li><a href="/diebetes">Diebetes Checkup</a></li>
         <li><a href="#">Order Medicine</a></li>
         <li><a href="#">Find Nearest Collection Centre</a></li>
       </ul>
     </div>
     <div class="footer-col">
       <h4>Company</h4>
       <ul>
         <li><a href="/about">About Us</a></li>
         <li><a href="#">Careers</a></li>
         <li><a href="#">Partner with We'll Scan</a></li>
         <li><a href="/bmicalc">BMI Calculate</a></li>
       </ul>
     </div>
     <div class="footer-col">
       <h4>Policy Info</h4>
       <ul>
         <li><a href="#">Privacy Policy</a></li>
         <li><a href="#">Terms and condition</a></li>
         <li><a href="#">Customer Support Policy</a></li>
         <li><a href="#">Return Policy</a></li>
       </ul>
     </div>
     <div class="footer-col">
       <h4>follow us</h4>
       <div class="social-links">
         <a href="#"><i class="fab fa-facebook-f"></i></a>
         <a href="#"><i class="fab fa-twitter"></i></a>
         <a href="#"><i class="fab fa-instagram"></i></a>
         <a href="#"><i class="fab fa-linkedin-in"></i></a>
       </div>
     </div>
   </div>
  </div>
</footer>
<div
class="text-center p-2"style="background-color: #ffff">
<p>© 2024 Copyright @ We'll Scan.com</p>
</div>
</html>