
.logo a{
    float: left;
    margin-top: 20px;
    margin-left: 30px;  
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
    text-decoration: none;
    cursor: pointer;
  }
  
  nav {
    width: 100%;
    height: 80px;
    line-height: 60px;
    background-color: black;
    color: white;
  }
  
  nav ul {
    list-style: none;
    overflow: hidden;
    padding: 5px;
    text-align: right;
    margin: -19px;
    padding-right: 66px;
  }

  nav ul li {
    display: inline-block;
    padding: 16px 40px;
    text-decoration: none;
    color: #007bff;
    font-size: 17px;
    font-weight: 600;
    margin-right: -10px;
  }
  
  nav ul li :hover{
    text-decoration: none;
    cursor: pointer;
  }
  
  .menu-icon {
    line-height: 60px;
    width: 100%;
    background: #000;
    text-align: right;
    box-sizing: border-box;
    padding: 15px 24px;
    cursor: pointer;
    color: #fff;
    display: none;
  }
  @media(max-width: 786px) {
  
    .logo {
      position: fixed;
      top: 0;
      margin-top: 16px;
    }
  
    nav ul {
      max-height: 0px;
      background: #000;
    }
  
    nav.black ul {
      background: #000;
    }
  
    .showing {
      max-height: 34em;
    }
  
    nav ul li {
      box-sizing: border-box;
      width: 100%;
      padding: 24px;
      text-align: center;
    }
  
    .menu-icon {
      display: block;
      margin-top: 0%;
    }
  }
  